.body {
  margin: 0;
  background-color: #01161d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.slider {
  max-width: 40em;
  margin: 0 auto;
  -webkit-transform: translateZ(0);
  transition: all 0.5s ease-out;
  height: 45vh;
  border-radius: 5px;
  padding: 15px;
  background: rgb(232, 235, 225);
  box-sizing: border-box;
}

.slider__inner {
  display: flex;
  width: 400%;
}

.slider__images,
.slider__texts {
  overflow: hidden;
}

.slider__img,
.slider__text {
  width: 100%;
  max-height: 345px;
  margin: 0;
}

.flex {
  display: flex;
  margin-top: 20px;
  height: 30px;
  align-items: center;
}

#controls {
  margin: -25% 0 0 0;
  width: 100%;
  height: 50px;
}
#controls label {
  display: none;
  width: 50px;
  height: 50px;
  opacity: 0.3;
}
#active {
  display: flex;
  max-width: 100px;
  width: 100%;
  height: 100%;
}
#active label {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#active label > span {
  border-radius: 5px;
  display: block;
  width: 10px;
  height: 10px;
  background: #bbb;
}

#active label:hover {
  cursor: pointer;
}

#active label:hover > span {
  background: #ccc;
  border-color: #777 !important;
}

.slider__inner {
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}

#slide1:checked ~ .flex #active label:nth-child(1) > span,
#slide2:checked ~ .flex #active label:nth-child(2) > span,
#slide3:checked ~ .flex #active label:nth-child(3) > span,
#slide4:checked ~ .flex #active label:nth-child(4) > span {
  background: #333;
  border-color: #333 !important;
}

input {
  display: none;
}

#slide1:checked ~ .slider__images .slider__inner,
#slide1:checked ~ .flex .slider__texts .slider__inner {
  margin-left: 0;
}
#slide1:checked ~ .flex .slider__texts .slider__inner .slider__text:not(:nth-child(1)) {
  opacity: 0;
}
#slide2:checked ~ .slider__images .slider__inner,
#slide2:checked ~ .flex .slider__texts .slider__inner {
  margin-left: -100%;
}
#slide2:checked ~ .flex .slider__texts .slider__inner .slider__text:not(:nth-child(2)) {
  opacity: 0;
}
#slide3:checked ~ .slider__images .slider__inner,
#slide3:checked ~ .flex .slider__texts .slider__inner {
  margin-left: -200%;
}
#slide3:checked ~ .flex .slider__texts .slider__inner .slider__text:not(:nth-child(3)) {
  opacity: 0;
}
#slide4:checked ~ .slider__images .slider__inner,
#slide4:checked ~ .flex .slider__texts .slider__inner {
  margin-left: -300%;
}
#slide4:checked ~ .flex .slider__texts .slider__inner .slider__text:not(:nth-child(4)) {
  opacity: 0;
}

@media only screen and (max-width: 670px) {
}
